<div class="card">
  <!--Filtro de usuario-->
  <p-toolbar styleClass="mb-4">
      <div>
          <input type="text" pInputText placeholder="Nombre de Usuario" [(ngModel)]="userCriteria.userName" />
          <input type="text" pInputText placeholder="LoginName" [(ngModel)]="userCriteria.loginName" />
          <p-dropdown [options]="roles" [filter]="true" filterBy="roleDescription" [(ngModel)]="userCriteria.roleId"
           optionValue="roleId" optionLabel="roleDescription"
           placeholder="Roles"></p-dropdown>
          <button type="text" pButton label="Fechas" (click)="op.toggle($event)"></button>
          <p-overlayPanel #op [showCloseIcon]="true" [style]="{width: '450px'}">
              <ng-template pTemplate>
                  <div>
                      <label> Fecha de Creacion</label>
                      <p-calendar inputId="basic" placeholder="Desde" [(ngModel)]="userCriteria.createdDateFrom">
                      </p-calendar>
                      <p-calendar inputId="basic" placeholder="Hasta" [(ngModel)]="userCriteria.createdDateTo">
                      </p-calendar>
                  </div>
                  <div>
                      <label> Fecha de Modificacion</label>
                      <p-calendar inputId="basic" placeholder="Desde" [(ngModel)]="userCriteria.modifiedDateFrom">
                      </p-calendar>
                      <p-calendar inputId="basic" placeholder="Hasta" [(ngModel)]="userCriteria.modifiedDateTo">
                      </p-calendar>
                  </div>
              </ng-template>
          </p-overlayPanel>

          <div class="field-radiobutton">
              <p-radioButton name="Activo" value="true" [(ngModel)]="userCriteria.isActive" inputId="activo">
              </p-radioButton>
              <label for="activo">Activo</label>
          </div>
          <div class="field-radiobutton">
              <p-radioButton name="Inactivo" value="false" [(ngModel)]="userCriteria.isActive" inputId="inactivo">
              </p-radioButton>
              <label for="inactivo">Inactivo</label>
          </div>

          <p-button label="Buscar" (click)="searchUsers()"></p-button>
      </div>
      <div class="viewCriteria">
          <!--<label (click)="deleteCriteria()">Borrar Filtros</label>-->
      </div>
  </p-toolbar>
  <p-table [value]="users" [loading]="loading" [showLoader]="false" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
      currentPageReportTemplate="Mostrando de la {first} a la {last} de las entradas de {totalRecords}"
      [rowsPerPageOptions]="[5,10,25,50,100]" [totalRecords]="users.length">
      <!--Añadir y Titulo-->
      <ng-template pTemplate="caption">
          <h3>
              {{ users.length }}
              {{ users.length == 1000 ? 'o más' : 'registros encontrados' }}
          </h3>
          <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
          <p-button type="text" (click)="addUser()" icon="pi pi-user-plus"></p-button>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
          <tr>
              <th pSortableColumn="isActive">ACTIVO<p-sortIcon field="isActive"></p-sortIcon></th>
              <th pSortableColumn="userName">NOMBRE<p-sortIcon field="userName"></p-sortIcon></th>
              <th pSortableColumn="loginName">LOGIN<p-sortIcon field="loginName"></p-sortIcon></th>
              <th pSortableColumn="userEmail">E-MAIL<p-sortIcon field="userEmail"></p-sortIcon></th>
              <th pSortableColumn="userPasswordExpirationDate">VALIDEZ PASSWORD<p-sortIcon field="userPasswordExpirationDate"></p-sortIcon></th>
              <th pSortableColumn="userLoginAttemps">LOGIN FALLIDO<p-sortIcon field="userLoginAttemps"></p-sortIcon></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="loadingbody">
        <tr *ngFor="let number of [0,1,2,3,4]">
          <td *ngFor="let column of [0,1,2,3,4,5]"><p-skeleton></p-skeleton></td>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>

          <tr>
              <td>{{user.isActive}}</td>
              <td>{{user.userName}}</td>
              <td>{{user.loginName}}</td>
              <td>{{user.userEmail}}</td>
              <td>{{user.userPasswordExpirationDate | date:'dd/MM/yyyy'}}</td>
              <td>{{user.userLoginAttemps}}</td>
              <td>
                  <p-button type="text" icon="pi pi-user-edit" (click)="editUser(user)"></p-button>
              </td>
          </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage" let-columns>
        <tr>
            <td colspan="6">
                No se han encontrado registros
            </td>
        </tr>
    </ng-template>
  </p-table>
</div>



<!-- <div class="card">

  <p-toolbar styleClass="mb-4">
      <div>
          <input type="text" pInputText placeholder="Nombre de Usuario" [(ngModel)]="userCriteria.userName" />
          <input type="text" pInputText placeholder="LoginName" [(ngModel)]="userCriteria.loginName" />
          /*<p-dropdown [options]="roles" [(ngModel)]="userCriteria.roleId" optionValue="roleId" optionLabel="roleDescription"
              placeholder="Roles"></p-dropdown>*/
          <button type="text" pButton label="Fechas" (click)="op.toggle($event)"></button>
          <p-overlayPanel #op [showCloseIcon]="true" [style]="{width: '450px'}">
              <ng-template pTemplate>
                  <div>
                      <label> Fecha de Creacion</label>
                      <p-calendar inputId="basic" placeholder="Desde" [(ngModel)]="userCriteria.createdDateFrom">
                      </p-calendar>
                      <p-calendar inputId="basic" placeholder="Hasta" [(ngModel)]="userCriteria.createdDateTo">
                      </p-calendar>
                  </div>
                  <div>
                      <label> Fecha de Modificacion</label>
                      <p-calendar inputId="basic" placeholder="Desde" [(ngModel)]="userCriteria.modifiedDateFrom">
                      </p-calendar>
                      <p-calendar inputId="basic" placeholder="Hasta" [(ngModel)]="userCriteria.modifiedDateTo">
                      </p-calendar>
                  </div>
              </ng-template>
          </p-overlayPanel>

          <div class="field-radiobutton">
              <p-radioButton name="Activo" value="true" [(ngModel)]="userCriteria.isActive" inputId="activo">
              </p-radioButton>
              <label for="activo">Activo</label>
          </div>
          <div class="field-radiobutton">
              <p-radioButton name="Inactivo" value="false" [(ngModel)]="userCriteria.isActive" inputId="inactivo">
              </p-radioButton>
              <label for="inactivo">Inactivo</label>
          </div>

          /* <p-button label="Buscar" (click)="getUsers()"></p-button> */
      </div>
      <div class="viewCriteria">
          /* <label (click)="deleteCriteria()">Borrar Filtros</label> */
      </div>
  </p-toolbar>
  <p-table [value]="users" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[5,10,25,50,100]">
      /*Añadir y Titulo*/
      <ng-template pTemplate="caption">
          <h3>
              {{ users.length }}
              {{ users.length == 1000 ? 'o más' : 'registros encontrados' }}
          </h3>
          <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
          <p-button type="text" (click)="addUser()" icon="pi pi-user-plus"></p-button>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
          <tr>
              <th pSortableColumn="isActive">ACTIVO<p-sortIcon field="isActive"></p-sortIcon></th>
              <th pSortableColumn="userName">NOMBRE<p-sortIcon field="userName"></p-sortIcon></th>
              <th pSortableColumn="loginName">LOGIN<p-sortIcon field="loginName"></p-sortIcon></th>
              <th pSortableColumn="userEmail">E-MAIL<p-sortIcon field="userEmail"></p-sortIcon></th>
              <th pSortableColumn="userPasswordExpirationDate">VALIDEZ PASSWORD<p-sortIcon field="userPasswordExpirationDate"></p-sortIcon></th>
              <th pSortableColumn="userLoginAttemps">LOGIN FALLIDO<p-sortIcon field="userLoginAttemps"></p-sortIcon></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
          <tr>
              <td>{{user.isActive}}</td>
              <td>{{user.userName}}</td>
              <td>{{user.loginName}}</td>
              <td>{{user.userEmail}}</td>
              <td>{{user.userPasswordExpirationDate | date:'dd/MM/yyyy'}}</td>
              <td>{{user.userLoginAttemps}}</td>
              <td>
                  /*<p-button type="text" icon="pi pi-user-edit" (click)="editUser(user)"></p-button>*/
              </td>
          </tr>
      </ng-template>
  </p-table>
</div> -->
