<div *ngIf="currentUser">
  {{currentUser.userName}}
  <p-button (onClick)="logout()">{{ 'HEADER.LOGOUT' | translate }}</p-button>
  <p-menubar [model]="languages" [style]="{'float':'right'}"></p-menubar>

  <!-- <ul *ngFor="let language of languages">
    <li>{{ 'LANGUAGES.' + language | translate }}</li>
  </ul> -->

  <!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
  </nav> -->

  <p>
    <button pButton type="button" label="{{ txt.texts['Home'] }}" class="p-button-outlined"></button>
    <button pButton type="button" label="{{ txt.texts['Activity'] }}" class="p-button-outlined"></button>
    <button pButton type="button" label="{{ txt.texts['MAPForms'] }}" class="p-button-outlined"></button>
    <button pButton type="button" label="{{ txt.texts['EventsCongresses'] }}" class="p-button-outlined"></button>
    <button pButton type="button" label="{{ txt.texts['Searcher'] }}" class="p-button-outlined"></button>
    <button pButton type="button" label="{{ txt.texts['AdvancedSearch'] }}" class="p-button-outlined"></button>
    <button pButton type="button" label="{{ txt.texts['Dashboard'] }}" class="p-button-outlined"></button>
    <button pButton type="button" label="{{ txt.texts['CrossBorder'] }}" class="p-button-outlined"></button>
    <button pButton type="button" label="{{ txt.texts['Backoffice'] }}" [routerLink]="['admin/users']" class="p-button-outlined"></button>
  </p>


</div>
