<p-card>
  <ng-template pTemplate="header">
      JWT Login Example
  </ng-template>

  <div class="grid p-fluid">
    <div class="col-12">
        <span class="p-float-label">
          <input id="float-input" type="text" pInputText [(ngModel)]="loginName">
          <label for="float-input">Loginname</label>
        </span>
    </div>

    <div class="col-12">
        <span class="p-float-label">
          <p-password [(ngModel)]="password" [feedback]="false"></p-password>
          <label for="float-input">Password</label>
        </span>
    </div>
  </div>

  <p-button label="Login" icon="pi pi-check" iconPos="left" (onClick)="onSubmit()"></p-button>
</p-card>
