<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogFile="${basedir}/../Logs/internalLog.txt" internalLogLevel="Info">
	<extensions>
		<add assembly="NLog.MailKit"/>
	</extensions>
	<targets async="true">
		<target xsi:type="File" name="File" fileName="${basedir}/../Logs/WebApi.csv" encoding="utf-8" writeBom="true" archiveFileName="${basedir}/../Logs/WebApi_{#}.csv" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="14" concurrentWrites="true">
			<layout xsi:type="CsvLayout" delimiter="Semicolon">
				<column name="time" layout="${longdate}" />
				<column name="logger" layout="${logger}" />
				<column name="level" layout="${level}" />
				<column name="message" layout="${message}" />
				<column name="exception" layout="${exception:format=tostring}" />
			</layout>
		</target>
		<target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="${longdate} | ${pad:padding=5:inner=${level}} | ${logger} | ${message}. ${exception:format=tostring}">
			<highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" />
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" backgroundColor="White" />
		</target>
		<target xsi:type="Mail" name="Mail" smtpServer="smtp.office365.com" subject="Error in WebApi" to="carlos.gomez@inercya.com" from="noreply@inercya.com" smtpUserName="noreply@inercya.com" smtpPassword="RRrr33..,," smtpAuthentication="Basic"  secureSocketOption="StartTls" smtpPort="587" html="true">
			<body xsi:type="SimpleLayout">
				<text>
					<![CDATA[
 <h2>The following error has occurrent in WebApi</h2></br>
 <p>Date and time: ${longdate}</p>
 <p>Category: ${logger}</p>
 <p>Error level: ${level} </p>
 <p>${message} : </p>
 <p>${exception:format=tostring} </p>
 ]]>
				</text>
			</body>
		</target>
	</targets>
	<rules>
		<logger name="*" writeTo="coloredConsole" minlevel="Trace" />
		<logger name="*" writeTo="File" minlevel="Trace" />
		<logger name="*" writeTo="Mail" minlevel="Error" />
	</rules>
</nlog>
